/* Mobile-first styles */
body {
    margin: 0;
    padding: 0;
}
header{
    display: block;
    text-align: center;
}
figure {
    border: 1px solid #ccc;
    border-radius: 0;
    margin: 0 auto;
    padding: 10px;
    text-align: center;
}

img {
    width: 1000px;
    margin: 0 auto;
    height: auto;
    display: block;
}
p {
    font-size: 16px;
    line-height: 1.5;
}

/* Tablet view (min-width: 772px) */
@media (min-width: 772px) {
    body {
        grid-template-columns: repeat(2, 1fr);
    }

    figure {
        border-radius: 50%;
    }

    figure:last-child {
        grid-column: span 2;
    }
}

/* Large screen view (min-width: 992px) */
@media (min-width: 992px) {
    body {
        grid-template-columns: repeat(3, 1fr);
    }

    figure {
        border-radius: 0;
    }

    figure:nth-child(3n) {
        grid-column: span 2;
    }
}

/* Prefers-reduced-motion */
@media (prefers-reduced-motion: reduce) {
    * {
        scroll-behavior: auto;
    }
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
    figure {
        background-color: #333;
        color: #f5c518; /* Yellow-ish color */
        border-color: black;
    }
}